# LeanKit environment variables

LK_HOST=
LK_USERNAME=
LK_PASSWORD=
LK_BOARD_ID=
LK_TYPE_ID=
LK_LANE_ID=
LK_REVIEW_LANE_ID=
LK_REVIEW_TYPE_ID=
LK_DISCARD_LANE_ID=
LK_DOING_LANE_IDS= 

# Zendesk environment variables

ZENDESK_EMAIL=
ZENDESK_API_TOKEN=
ZENDESK_HOST=
ZENDESK_DAYS_TO_CHECK=2
ZENDESK_STATUS_THRESHOLD=solved
ZENDESK_CUSTOM_FIELD_ID=
ZENDESK_CUSTOM_FIELD_VALUE=
ZENDESK_GROUP_ID=